<!DOCTYPE html>
<html>
    <head>
        <% if (profile){ %>
            <title><%= profile.first %> <%= profile.last %> </title>
         <% } else { %>
            <title>User</title>
         <% } %>
    </head>
    <body>

        <% include menu.ejs %>
        
        <div>
            <h1>Welcome!</h1>
        </div>
        <div>
            <% if (profile.email) { %>
                <p>Hello, <%= profile.first %> <%= profile.last %>!</p>
                <p>
                    <strong>id</strong>: <%= profile._id %><br>
                    <strong>email</strong>: <%= profile.email %><br>
                    <strong>password</strong>: <%= profile.password %>
                </p>                    
            <% } %>
            <a href="/logout">Logout</a>
        </div>
    </body>
</html>